<footer class="footer">
    <div class="footer-left">
      <div (click)="navigateToSection()">
        <span class="footer-logo" routerLink="/">Nic</span>
        <span class="footer-logo" style="color: #00bee8">o</span>
        <span class="footer-logo">l</span>
        <span class="footer-logo" style="color: #423fe8">e</span>
      </div>
      <a class="imprint" routerLink="/imprint">Imprint</a>  <!-- /imprint,  entferne: href="/imprint"-->
    </div>
    <div class="footer-middle-container">
      <span class="footer-middle">&copy; Nicole Holländer 2024</span>
      <span class="footer-icons">Icons made by Icons8</span>
    </div>
    <div class="footer-right">
      <a href="https://github.com/NickyHo16" target="_blank">
        <img src="/assets/img/icons/github-img.png" />
      </a>
      <a href="mailto: contact@nicole-hollaender.com">
        <img src="/assets/img/icons/message-img.png" />
      </a>
      <a
        href="https://www.linkedin.com/in/nicole-hollaender741660838379"
        target="_blank"
      >
        <img src="/assets/img/icons/linkedin-img.png" />
      </a>
    </div>
  </footer>
  
