<div class="about-me-container" id="about-me">
    <div class="about-me-text-container" data-aos="fade-right">
      <h1>About me</h1>
      <p>
        I'm a front-end developer with extensive experience in Angular. With a solid background in engineering and technical fields, I bring a versatile profile uniting technological expertise and creative IT skills. My studies provide a profound understanding of innovative technologies, laying a robust foundation for my role as a web developer.                    Proficient in JavaScript, I am a skilled web developer with a strong foundation in IT practices. My expertise includes advanced version control using Git, seamless integration of APIs, and dedicated adherence to SCRUM methodology for efficient project management. I possess an in-depth understanding of HTML and prioritize secure coding practices to ensure robust web solutions. Additionally, I leverage frameworks like Angular, incorporating libraries such as Bootstrap and employing cascading style sheets (CSS) for creating visually appealing and responsive web designs.
      </p>
      <div class="image-with-text-container-lamp">
        <img src="/assets/img/icons/lamp.png" />
        <span>My proficiency extends to app development, demonstrating a comprehensive understanding of modern web technologies and a commitment to delivering innovative and user-centric solutions. My expertise extends to app development, showcasing a well-rounded understanding of modern web technologies.                      </span
        >
      </div>
      <div class="image-with-text-container-puzzle">
        <img src="/assets/img/icons/puzzle.png" />
        <span>
          With a solid background in engineering sciences and technical fields, I present a versatile profile that bridges technological expertise and creative IT skills. My studies have provided me with a comprehensive understanding of innovative technologies and communication platforms, forming a solid foundation for my role as a web developer.</span
        >
      </div>
    </div>
    <div class="image-container" data-aos="fade-left">
      <div class="circle-image">
        <img src="/assets/img/profil-img5.png" />
      </div>
      <div class="line"></div>
    </div>
  </div>
  
