<div class="about-me-container content-wrapper-wide" id="about-me">
    <div class="about-me-text-container" data-aos="fade-right" data-aos-duration="2000">
      <h1>{{ translate('ABOUT_ME_TITLE') }}</h1>
      <p>
        {{ translate('ABOUT_ME_DESCRIPTION') }}
      </p>
      <div class="image-with-text-container-lamp">
        <img src="/assets/img/icons/lamp.png" />
        <span>{{ translate('ABOUT_ME_DESCRIPTION_2') }}                  </span
        >
      </div>
      <div class="image-with-text-container-puzzle">
        <img src="/assets/img/icons/puzzle.png" />
        <span>
          {{ translate('ABOUT_ME_DESCRIPTION_3') }} </span
        >
      </div>
    </div>
    <div class="image-container wide" data-aos="fade-left" data-aos-duration="2000">
      <div class="circle-image">
        <img src="/assets/img/profil-img5.png" />
      </div>
      <div class="line"></div>
    </div>
  </div>
  
