<nav class="navbar">
    <div class="navbar-content">
      <div class="navbar-left">
        <span routerLink="/" (click)="navigateToSection()">Nic<span style="color: #16c4eb">o</span>l<span
            style="color: #2f2bea">e</span></span>
      </div>
      <div class="navbar-right-links">
        <a class="links" *ngIf="!imprintSite" href="#about-me">{{ getTranslation('ABOUT_ME') }}</a>
        <a class="links" *ngIf="!imprintSite" href="#skills-section">{{ getTranslation('SKILLS') }}</a>
        <a class="links" *ngIf="!imprintSite" href="#portfolio-section">{{ getTranslation('PORTFOLIO') }}</a>
        <a href="/" class="links" *ngIf="imprintSite" routerLink="/">{{ getTranslation('HOME') }}</a>
      </div>
  
      <div class="language-switcher">
        <button (click)="switchLanguage('en')" [class.active]="currentLanguage === 'en'">EN</button>
        <button (click)="switchLanguage('de')" [class.active]="currentLanguage === 'de'">DE</button>
      </div>
  
      <div id="menuToggle">
        <input type="checkbox" #menuToggleInput />
  
        <span></span>
        <span></span>
        <span></span>
  
        <ul id="menu">
          <a href="#about-me" *ngIf="!imprintSite" #menuLink><li>{{ getTranslation('ABOUT_ME') }}</li></a>
          <a href="#skills-section" *ngIf="!imprintSite" #menuLink><li>{{ getTranslation('SKILLS') }}</li></a>
          <a href="#portfolio-section" *ngIf="!imprintSite" #menuLink><li>{{ getTranslation('PORTFOLIO') }}</li></a>
          <a href="#contact-section" *ngIf="!imprintSite" #menuLink><li>{{ getTranslation('CONTACT') }}</li></a>
          <a href="#contact-section" *ngIf="imprintSite" #menuLink><li>{{ getTranslation('HOME') }}</li></a>
        </ul>
      </div>
    </div>
  </nav>
  
