<div class="contact-headline-container" id="contact-section" data-aos="fade-up">
  <div class="purple-line"></div>
  <h1>Contact</h1>
</div>

<div class="contact-me-container" data-aos="zoom-in">
  <div class="solving-problem-container">
    <h2>Got a problem to solve?</h2>
    <p>
      Contact me through this form, I am interested in hearing you, knowing your
      ideas and contributing to your projects with my work.
    </p>
    <span>Need a Frontend developer? <b>Contact me!</b> </span>
  </div>
  <form (submit)="sendMail()" #myForm ngNativeValidate class="form-container">
    <div class="wrapper">
      <input required type="text" name="name" placeholder="Your name" #nameField (input)="onInput('name')"
        (blur)="onBlur($event)" />

      <div class="message-box">
        <span *ngIf="showWarningName">Your name is required</span>
      </div>
      <img *ngIf="showGreenCheckName" src="/assets/img/green-go.png" />
    </div>

    <div class="wrapper" >
      <input required type="email" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,4}$"  name="email" #emailField placeholder="Your email" (input)="onInput('email')"
        (blur)="onBlur($event)" />
      <div class="message-box">
        <span *ngIf="showWarningEmail">Your email is required</span>
      </div>
      <img *ngIf="showGreenCheckEmail" src="/assets/img/green-go.png" />
    </div>
    <div class="wrapper">
      <textarea required type="text" name="message" placeholder="Your message" #messageField
        (input)="onInput('message')" (blur)="onBlur($event)"></textarea>
      <div class="message-box">
        <span *ngIf="showWarningMessage">Your message is required</span>
      </div>
      <img *ngIf="showGreenCheckMessage" src="/assets/img/green-go.png" />
    </div>
    <div class="wrapper">
      <label>
        <input type="checkbox" name="privacyPolicy" required [(ngModel)]="isPrivacyChecked" /> 
      I have read the Privacy Policy and agree to the processing of my data as described.
      </label>
    </div>
    <button class="contact-button send-button" #sendButton type="submit"
      [ngClass]="{ sent: emailSent, 'd-none': addClassToButton }" [disabled]="!isPrivacyChecked">
      <span class="message" *ngIf="!emailSent">Send Message</span>
    </button>
    <div class="message-sent-container">
      <span class="message-sent" *ngIf="emailSent && showSpanMsg">
        Your email has been send successfully!</span>
    </div>
  </form>
</div>

<div class="scroll-up-container">
  <img (click)="navigateToSection()" src="/assets/img/icons/go-up-button-white.png" class="img1" />
  <img (click)="navigateToSection()" src="/assets/img/icons/go-up-button-blue.png" class="img2" />
</div>