<div class="contact-headline-container" id="contact-section" data-aos="fade-up">
  <div class="purple-line"></div>
  <h1>{{ translate('CONTACT_TITLE') }}</h1>
</div>

<div class="contact-me-container" data-aos="zoom-in">
  <div class="solving-problem-container">
    <h2>{{ translate('CONTACT_DESCRIPTION') }}</h2>
    <p>
      {{ translate('CONTACT_DESCRIPTION_2') }}
    </p>
    <span> {{ translate('CONTACT_DESCRIPTION_3') }} <b>{{ translate('CONTACT_DESCRIPTION_4') }}</b> </span>
  </div>
  <form (submit)="sendMail()" #myForm ngNativeValidate class="form-container">
    <div class="wrapper">
      <input required type="text" name="name" placeholder="{{ translate('NAME_INPUT') }}" #nameField (input)="onInput('name')"
        (blur)="onBlur($event)" />

      <div class="message-box">
        <span *ngIf="showWarningName">{{ translate('NAME_REQUIRED') }}</span>
      </div>
      <img *ngIf="showGreenCheckName" src="/assets/img/green-go.png" />
    </div>

    <div class="wrapper" >
      <input required type="email" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,4}$"  name="email" #emailField placeholder="{{ translate('EMAIL_INPUT') }}" (input)="onInput('email')"
        (blur)="onBlur($event)" />
      <div class="message-box">
        <span *ngIf="showWarningEmail">{{ translate('EMAIL_REQUIRED') }}</span>
      </div>
      <img *ngIf="showGreenCheckEmail" src="/assets/img/green-go.png" />
    </div>
    <div class="wrapper">
      <textarea required type="text" name="message" placeholder="{{ translate('MASSAGE_INPUT') }}" #messageField
        (input)="onInput('message')" (blur)="onBlur($event)"></textarea>
      <div class="message-box">
        <span *ngIf="showWarningMessage">{{ translate('MASSAGE_REQUIRED') }}</span>
      </div>
      <img *ngIf="showGreenCheckMessage" src="/assets/img/green-go.png" />
    </div>
    <div class="wrapper">
      <label>
        <input type="checkbox" name="privacyPolicy" required [(ngModel)]="isPrivacyChecked" /> 
        {{ translate('PRIVACY_CHECK') }} <a routerLink="/privacy">{{ translate('PRIVACY_CHECK_2') }}</a> {{ translate('PRIVACY_CHECK_3') }}
      </label>
    </div>
    <button class="contact-button send-button" #sendButton type="submit"
      [ngClass]="{ sent: emailSent, 'd-none': addClassToButton }" [disabled]="!isPrivacyChecked">
      <span class="message" *ngIf="!emailSent">{{ translate('BUTTON_SENDMAIL') }}</span>
    </button>
    <div class="message-sent-container">
      <span class="message-sent" *ngIf="emailSent && showSpanMsg">
        {{ translate('SENDMAIL_CONTENT') }}</span>
    </div>
  </form>
</div>

<div class="scroll-up-container">
  <img (click)="navigateToSection()" src="/assets/img/icons/go-up-button-white.png" class="img1" />
  <img (click)="navigateToSection()" src="/assets/img/icons/go-up-button-blue.png" class="img2" />
</div>