<div class="portfolio-join-container">
    <div class="join-laptop" data-aos="flip-left">
      <img src="/assets/img/icons/join-img.png" />
    </div>
    <div class="join-informations" data-aos="fade-left">
      <h2>Join</h2>
      <span>Javascript | HTML | CSS</span>
      <p>
        {{ translate('JOIN_DESCRIPTION') }}
      </p>
      <div class="join-button-container">
        <a href="https://join.nicole-hollaender.com/login.html" target="_blank"
          ><button class="live-test-button">Live test</button></a
        >
        <a href="https://github.com/NickyHo16/Join" target="_blank"
          ><button class="github-button">Github</button></a
        >
      </div>
    </div>
  </div>
  
