<div class="portfolio-epl-container content-wrapper-wide">
    <div class="epl-informations" data-aos="fade-right" data-aos-duration="2000">
      <h2>Pokedex</h2>
      <span>JavaScript | API </span>
      <p>
        {{ translate('KOCHWELT_DESCRIPTION') }}
      </p>
      <div class="epl-button-container">
        <a
          href="https://pokedex.nicole-hollaender.com/index.html"
          target="_blank"
          ><button class="live-test-button">Live test</button></a
        >
        <a
          href="https://github.com/NickyHo16/pokedex"
          target="_blank"
          ><button class="github-button">Github</button></a
        >
      </div>
    </div>
    <div class="epl-laptop" data-aos="flip-right" data-aos-duration="2000">
      <img src="/assets/img/icons/Property 1=Pkedex.png" /> 
    </div>
  </div>
  
