<div class="portfolio-epl-container">
    <div class="epl-informations" data-aos="fade-right">
      <h2>Pokedex</h2>
      <span>JavaScript | API </span>
      <p>
        A Pokédex is an interactive web application that uses APIs to fetch data about Pokémon species. Built with JavaScript, it retrieves and displays information such as appearance, abilities, and habitats dynamically, allowing users to explore various Pokémon easily.
      </p>
      <div class="epl-button-container">
        <a
          href="https://pokedex.nicole-hollaender.com/index.html"
          target="_blank"
          ><button class="live-test-button">Live test</button></a
        >
        <a
          href="https://github.com/NickyHo16/pokedex"
          target="_blank"
          ><button class="github-button">Github</button></a
        >
      </div>
    </div>
    <div class="epl-laptop" data-aos="flip-right">
      <img src="/assets/img/icons/Property 1=Pkedex.png" /> 
    </div>
  </div>
  
