<div class="imprint-container">
  <h1>{{ translate('IMPRINT_TITLE') }}</h1>

  <h2>{{ translate('IMPRINT_INFO') }}</h2>
  <p>Nicole Holländer<br />
    Windmühlenstraße 6a<br />
    04539 Groitzsch</p>

  <h2>{{ translate('CONTACT') }}</h2>
  <p>Phone: +49 1520 691 54 59<br />
    Email: contact(at)nicole-hollaender.com</p>

  <div class='impressum'><p><br> 
          
    {{ translate('DISCLAIMER_TITLE') }}<br><br><strong>{{ translate('LIABILITY_CONTENT') }}</strong><br><br>
    {{ translate('DISCLAIMER_TEXT') }}
    <br><br><strong>{{ translate('LIABILITY_LINKS') }}</strong><br><br>
    {{ translate('LIABILITY_LINKS_TEXT') }}
    <br><br><strong>{{ translate('COPYRIGHT') }}</strong><br><br>
    {{ translate('COPYRIGHT_TEXT') }}
    <br><br><strong>{{ translate('DATA_PROTECTION') }}</strong><br><br>
    {{ translate('DATA_PROTECTION_TEXT') }}
    <br><br><strong>Google Analytics</strong><br><br>
    {{ translate('GOOGLE_ANALYTICS_TEXT') }}
    <br><br><strong>Google AdSense</strong><br><br>
    {{ translate('GOOGLE_ADSENSE_TEXT') }}</p><br>
    {{ translate('GENERATED_BY') }} <a href="https://www.impressum-generator.de">Impressum Generator</a> of the <a href="https://www.kanzlei-hasselbach.de/standorte/bonn/" rel="nofollow">Hasselbach Law Firm, Bonn</a> </div>
</div>