<div class="imprint-container">

  <h1>{{ translate('PRIVACY_TITLE') }}</h1>
  <h2>{{ translate('DATA_PROTECTION_OVERVIEW') }}</h2>
  <h3>{{ translate('GENERAL_INFORMATION') }}</h3>
  <p>{{ translate('GENERAL_INFO_CONTENT') }}</p>
  <h3>{{ translate('DATA_COLLECTION') }}</h3>
  <h4>{{ translate('RESPONSIBLE_PARTY') }}</h4>
  <p>{{ translate('RESPONSIBLE_PARTY_CONTENT') }}</p>
  <h4>{{ translate('DATA_COLLECT') }}</h4>
  <p>{{ translate('DATA_COLLECT_CONTENT') }}</p>
  <p>{{ translate('DATA_COLLECT_CONTENT_AUTO') }}</p>
  <h4>{{ translate('DATA_USE') }}</h4>
  <p>{{ translate('DATA_USE_CONTENT') }}</p>
  <h4>{{ translate('DATA_RIGHTS') }}</h4>
  <p>{{ translate('DATA_RIGHTS_CONTENT') }}</p>
  <p>{{ translate('DATA_RIGHTS_CONTACT') }}</p>
  <h2>2. Hosting</h2>
  <p>{{ translate('HOSTING_TITLE') }}</p>
  <h3>All-Inkl</h3>
  <p>{{ translate('PROVIDER_TITLE') }} <a href="https://all-inkl.com/datenschutzinformationen/" target="_blank" rel="noopener noreferrer">https://all-inkl.com/datenschutzinformationen/</a>.</p>
  <p>{{ translate('PROVIDER_USE') }}</p>
  <h4>{{ translate('ORDER_PROCESSING') }}</h4>
  <p>{{ translate('PROCESSING_AGREEMENT') }}</p>
  <h2>{{ translate('MANDATORY_INFORMATION') }}</h2>
  <h3>{{ translate('DATA_PROTECTION') }}</h3>
  <p>{{ translate('MANDATORY_INFO_CONTENT') }}</p>
  <p>{{ translate('MANDATORY_INFO_CONTENT_1') }}</p>
  <p>{{ translate('MANDATORY_INFO_CONTENT_2') }}</p>
  <h3>{{ translate('NOTICE_RESPONSIBLE_PARTY') }}</h3>
  <p>{{ translate('NOTICE_RESPONSIBLE_PARTY_2') }}</p>
  <p>Nicole Holländer<br />
    Windmühlenstraße 6a<br />
    04539 Groitzsch
  </p>
  <p>Phone: +49 1520 691 54 59<br />
    Email: contact(at)nicole-hollaender.com</p>
  <p>{{ translate('NOTICE_RESPONSIBLE_CONTENT') }}</p>
  <h3>{{ translate('STORAGE_DURATION') }}</h3>
  <p>{{ translate('STORAGE_DURATION_CONTENT') }}</p>
  <h3>{{ translate('LEGAL_BASES') }}</h3>
  <p>{{ translate('LEGAL_BASES_CONTENT') }}</p>
  <h3>{{ translate('PERSONAL_DATA_TITLE') }}</h3>
  <p>{{ translate('PERSONAL_DATA_CONTENT') }}</p>
  <h3>{{ translate('REVOCATION_DATA') }}</h3>
  <p>{{ translate('REVOCATION_DATA_CONTENT') }}</p>
  <h3>{{ translate('RIGHT_TO_OBJECT_TITLE') }}</h3>
  <p>{{ translate('RIGHT_TO_OBJECT_CONTENT_1') }}</p>
  <p>{{ translate('RIGHT_TO_OBJECT_CONTENT_2') }}</p>
  <h3>{{ translate('RIGHT_TO_LODGE_TITLE') }}</h3>
  <p>{{ translate('RIGHT_TO_LODGE_CONTENT') }}</p>
  <h3>{{ translate('PORTABILITY_TITLE') }}</h3>
  <p>{{ translate('PORTABILITY_TITLE') }}</p>
  <h3>{{ translate('DELETION_TITLE') }}</h3>
  <p>{{ translate('DELETION_CONTENT') }}</p>
  <h3>{{ translate('RIGHT_PROCESSING_TITLE') }}</h3>
  <p>{{ translate('RIGHT_PROCESSING_CONTENT') }}</p>
  <ul>
    <li>{{ translate('LIST_CONTENT_1') }}</li>
    <li>{{ translate('LIST_CONTENT_2') }}</li>
    <li>{{ translate('LIST_CONTENT_3') }}</li>
    <li>{{ translate('LIST_CONTENT_4') }}</li>
  </ul>
  <p>{{ translate('RIGHT_PROCESSING_CONTENT_2') }}</p>
  <h3>{{ translate('SSL_TITLE') }}</h3>
  <p>{{ translate('SSL_CONTENT') }}</p>
  <p>{{ translate('SSL_CONTENT_2') }}</p>
  <h2>{{ translate('COLLECTION_WEBSITE') }}</h2>
  <h3>{{ translate('COLLECTION_WEBSITE_TITLE') }}</h3>
  <p>{{ translate('COLLECTION_WEBSITE_CONTENT_1') }}</p>
  <p>{{ translate('COLLECTION_WEBSITE_CONTENT_2') }}</p>
  <p>{{ translate('COLLECTION_WEBSITE_CONTENT_3') }}</p>
  <p>{{ translate('COLLECTION_WEBSITE_CONTENT_4') }} <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
</div>